@tailwind base;
@tailwind components;
@tailwind utilities;


    @font-face {
        font-family: 'Gilroy';
        src: url('../assets/fonts/Gilroy-Regular.ttf') format('truetype');

    }
    @font-face {
        font-family: 'Gilroy-Black';
        src: url('../assets/fonts/Gilroy-Black.ttf') format('truetype');

    }
    @font-face {
        font-family: 'Gilroy-Bold';
        src: url('../assets/fonts/Gilroy-Bold.ttf') format('truetype');

    }
    @font-face {
        font-family: 'Gilroy-Heavy';
        src: url('../assets/fonts/Gilroy-Heavy.ttf') format('truetype');

    }
    @font-face {
        font-family: 'Gilroy-Light';
        src: url('../assets/fonts/Gilroy-Light.ttf') format('truetype');

    }
    @font-face {
        font-family: 'Gilroy-Medium';
        src: url('../assets/fonts/Gilroy-Medium.ttf') format('truetype');

    }
    @font-face {
        font-family: 'GraphikRegular';
        src: url('../assets/fonts/GraphikRegular.otf');
        font-weight: 400;

    }

    @font-face {
        font-family: 'Boing';
        src: url('../assets/fonts/GD\ Boing\ Bold.ttf');

    }

    @layer{
        body{
            font-family: 'Gilroy';
        }

        h1{
            font-family: 'Boing'
        }
    }

    .slide-bottom {
        -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }



/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  
  .custom-shape-divider-top-1655589105 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1655589105 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-top-1655589105 .shape-fill {
    fill: #FFFFFF;
}
  
    
